// 首页
@import "../base/variables";

.index {

    // 标题
    >h1 {
        >a {
            letter-spacing: 0.0625rem;
            font-size: 1.375rem;
            line-height: 1.75rem;
            color: #262626;

            &:hover {
                color: #26262680;
            }
        }
    }

    // 摘要
    >p {
        line-height: 1.5rem;
        text-indent: 2rem;
        color: #595959;
    }

    // 徽标
    >.info {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        flex-direction: row;
        border-bottom: 1px solid #d9d9d9;

        >.date,
        >.tag {
            font-weight: 400;
            font-size: 0.75rem;

            >i {
                position: relative;
                top: 0.1rem;
                color: #8c8c8c;
            }

            >a {
                font-size: 0.75rem;
                color: #8c8c8c;

                &:hover {
                    color: #8c8c8c80;
                }
            }
        }
    }

    // =========== 深色 ===========
    @include darkmode {
        >h1 {
            >a {
                color: #dbdbdb;

                &:hover {
                    color: #dbdbdb80;
                }
            }
        }

        >p {
            color: #acacac;
        }

        >.info {
            border-bottom: 1px solid #434343;

            >.date,
            >.tag {
                >i {
                    color: #7d7d7d;
                }

                >a {
                    color: #7d7d7d;

                    &:hover {
                        color: #7d7d7d80;
                    }
                }
            }
        }

    }

    // =========== 320px 设备 ===========
    @media (max-width: 320px) {
        >h1{
            margin-block-start: 0;
            text-align: center;
        }
        >.info {
            padding: 1% 0 2% 0;

            >span {
                margin: 1% 1%;
            }
        }
    }
}