@import "../base/variables";

// 友链
.links {
    >ul {
        >.friend {
            font-size: 1.5rem;
            font-weight: bold;
            line-height: 2.2rem;
            color: #262626;
        }

        >li {
            display: flex;
            justify-content: space-between;
            font-size: 1rem;
            padding-bottom: 0.3rem;
            line-height: 1.5rem;

            >a {
                color: #595959;

                &:hover {
                    color: #59595980;
                }
            }
        }
    }

    // =========== 深色 ===========
    @include darkmode {
        >ul {
            >.friend {
                color: #dbdbdb;
            }

            >li {
                >a {
                    color: #dbdbdb;

                    &:hover {
                        color: #dbdbdb80;
                    }
                }
            }

        }

    }

    // =========== 320px 设备 ===========
    @media (max-width: 320px) {
        >ul {
            padding: 2.5% 1%;

            >.friend {
                padding: 2.5% 0;
                text-align: center;
            }

            >li {
                justify-content: center;
                padding-bottom: 1%;
            }
        }
    }
    // =========== 768px 设备 ===========
    @media (min-width: 320px) and (max-width: 768px) {
        >ul {
            padding: 2.5% 1%;

            >.friend {
                padding: 2.5% 0;
            }

            >li {
                padding-bottom: 1%;
            }
        }
    }

    // =========== 2048px 设备 ===========
    @media (min-width: 768px) and (max-width: 2048px) {
        >ul {
            padding: 0.625rem 0.1rem;

            >.friend {
                padding: 0.5rem 0;
            }

            >li {
                padding-bottom: 0.3rem;
            }
        }
    }
}