@import "../base/variables";

// 文章
.post {
    >.title {
        >h1 {
            >a {
                letter-spacing: 0.0625rem;
                font-size: 2rem;
                line-height: 2rem;
                color: #262626;

                &:hover {
                    color: #26262680;
                }
            }
        }

        >.info {
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid #d9d9d9;

            >span {
                font-weight: 400;
                font-size: 0.75rem;
                color: #8c8c8c;



                i {
                    position: relative;
                    top: 0.125rem;
                    color: #8c8c8c;


                }
            }
        }
    }
    // =========== 深色 ===========
    @include darkmode {
        >.title {
            >h1 {
                >a {
                    color: #dbdbdb;

                    :hover {
                        color: #dbdbdb80;
                    }
                }
            }

            >.info {
                border-bottom: 1px solid #434343;

                span {
                    color: #7d7d7d;

                    i {
                        color: #7d7d7d;
                    }
                }
            }
        }
    }

    // =========== 320px 设备 ===========
    @media (max-width: 320px) {
        >.title {
            margin-top: 10%;
            >.info{
                >span{
                    padding: 1% 1%;
                }
                
            }
        }
        
    }
}