@import "../base/variables";

// 标签
.tag {
    >ul {
        >.name {
            font-size: 1.5rem;
            font-weight: bold;
            line-height: 2.2rem;
            color: #262626;
        }

        >li {
            display: flex;
            font-size: 0.875rem;
            line-height: 1.75rem;

            >a {
                // 浅色
                color: #595959;

                &:hover {
                    color: #59595980;
                }
            }
        }
    }

    // =========== 深色 ===========
    @include darkmode {
        >ul {
            >.name {
                color: #dbdbdb;
            }

            >li {
                >a {
                    color: #dbdbdb;

                    &:hover {
                        color: #dbdbdb80;
                    }
                }
            }
        }

    }

    // =========== 320px 设备 ===========
    @media (max-width: 320px) {
        >ul {
            padding: 2.5% 1%;

            >.name {
                padding: 2.5% 0;
                text-align: center;
            }

            >li {
                justify-content: center;
                padding-bottom: 1%;

                >span {
                    display: none;
                }
            }
        }
    }

    // =========== 2048px 设备 ===========
    @media (min-width: 768px) and (max-width: 2048px) {
        >ul {
            padding: 0.625rem 0.1rem;
            >.name {
                padding: 0.5rem 0;
            }
            >li {
                justify-content: space-between;
                padding-bottom: 0.3rem;
            }
        }
    }
}

// 标签目录
.tags {
    >ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        >li {
            font-size: 1rem;

            >a {
                // 浅色
                color: #262626;

                &:hover {
                    color: #26262680;
                }

                >span {
                    color: #8c8c8c;
                }
            }
        }

        .count {
            display: inline-block;
            position: relative;
            top: -0.5rem;
            right: -0.125rem;
            font-size: 0.75rem;
        }
    }

    // =========== 深色 ===========
    @include darkmode {
        >ul {
            >li {
                >a {
                    color: #dbdbdb;

                    &:hover {
                        color: #dbdbdb80;
                    }
                }
            }
        }
    }

    // =========== 320px 设备 ===========
    @media (max-width: 320px) {
        margin: 7% 0;

        >ul {
            >li {
                margin: 2.5% 2.5%;
            }
        }
    }

    // =========== 768px 设备 ===========
    @media (min-width: 320px) and (max-width: 768px) {
        margin: 7% 0;

        >ul {
            >li {
                margin: 2.5% 2.5%;
            }
        }
    }
    // =========== 2048px 设备 ===========
    @media (min-width: 768px) and (max-width: 2048px) {
        margin: 5rem 0;

        >ul {
            
            >li {
                margin: 0.5rem 1rem;
                
            }
        }
    }

}