html {
  background-color: #f5f5f5;
  color: #1f1f1f;
}

html::-webkit-scrollbar-thumb {
  background-color: #0000000d;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #00000026;
}

::selection {
  background: #0095ff1a;
}

.header > .title > a > span {
  color: black;
}
.header > .title > a > span:hover {
  color: rgba(0, 0, 0, 0.65);
}
.header > .description {
  color: rgba(0, 0, 0, 0.65);
}
.header > .description > .socials > a {
  color: rgba(0, 0, 0, 0.65);
}
.header > .description > .socials > a:hover {
  color: rgba(0, 0, 0, 0.85);
}

main {
  background: #ffffff;
  box-shadow: 0 0.375rem 1rem -0.5rem rgba(0, 0, 0, 0.08);
}
main .index > h1 > a {
  color: black;
}
main .index > p {
  color: rgba(0, 0, 0, 0.85);
}
main .index > .info {
  border-bottom: 1px solid #f3f3f3;
}
main .index > .info .date span,
main .index > .info .tag span {
  color: rgba(0, 0, 0, 0.65);
}
main .index > .info .date a,
main .index > .info .tag a {
  color: rgba(0, 0, 0, 0.65);
}
main .index > .info .date i,
main .index > .info .tag i {
  color: rgba(0, 0, 0, 0.85);
}
main .archives > ul > .year, main .archives > ul .name, main .archives > ul .friend, main .categories > ul > .year, main .categories > ul .name, main .categories > ul .friend, main .category > ul > .year, main .category > ul .name, main .category > ul .friend, main .tag > ul > .year, main .tag > ul .name, main .tag > ul .friend, main .tags > ul > .year, main .tags > ul .name, main .tags > ul .friend, main .links > ul > .year, main .links > ul .name, main .links > ul .friend {
  color: #000001;
}
main .archives > ul > li > a, main .categories > ul > li > a, main .category > ul > li > a, main .tag > ul > li > a, main .tags > ul > li > a, main .links > ul > li > a {
  color: #000001;
}
main .archives > ul > li > a:hover, main .categories > ul > li > a:hover, main .category > ul > li > a:hover, main .tag > ul > li > a:hover, main .tags > ul > li > a:hover, main .links > ul > li > a:hover {
  color: rgba(0, 0, 0, 0.65);
}
main .archives > ul > li > a > span, main .categories > ul > li > a > span, main .category > ul > li > a > span, main .tag > ul > li > a > span, main .tags > ul > li > a > span, main .links > ul > li > a > span {
  color: #c5c5c5;
}
main .archives > ul > li > span, main .categories > ul > li > span, main .category > ul > li > span, main .tag > ul > li > span, main .tags > ul > li > span, main .links > ul > li > span {
  color: #c5c5c5;
}
main .pagenav a {
  color: black;
}
main .pagenav a:hover {
  color: rgba(0, 0, 0, 0.65);
}
main .post > .title > h1 {
  color: black;
}
main .post > .title > h1 > a {
  color: black;
}
main .post > .title > .info {
  border-bottom: 1px solid #f3f3f3;
}
main .post > .title > .info > span {
  color: rgba(0, 0, 0, 0.65);
}
main .post > .title > .info > span i {
  color: rgba(0, 0, 0, 0.85);
}
main .journals > ul > li > .option {
  color: rgba(0, 0, 0, 0.65);
}
main .journals > ul > li > .info {
  color: #c5c5c5;
}

footer .copyright a {
  color: rgba(0, 0, 0, 0.25);
}
footer .copyright a:hover {
  color: rgba(0, 0, 0, 0.85);
}

.comment {
  background: #ffffff;
  box-shadow: 0 0.375rem 1rem -0.5rem rgba(0, 0, 0, 0.08);
}

.post-bottom-menu {
  border-top: 1px solid #f3f3f3;
}
.post-bottom-menu > a {
  color: black;
}