html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  font-weight: 500;
  font-variant-numeric: tabular-nums;
  -webkit-font-smoothing: antialiased;
}

html::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

html::-webkit-scrollbar-thumb {
  height: 40px;
  border-radius: 16px;
}

body {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 45rem;
  padding: 7rem 0 3rem 0;
  -webkit-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .title {
  width: 6rem;
}
.header .title a {
  font-size: 2.2rem;
  letter-spacing: 0.2rem;
  line-height: 2.4rem;
}
.header .description {
  font-size: 0.9rem;
}
.header .description .socials {
  display: flex;
  justify-content: flex-end;
}
.header .description .socials a {
  font-size: 1rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

main {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  width: 50rem;
  margin-top: 4rem;
}
main .post {
  width: 45rem;
  padding-top: 1rem;
}
main .post > h1 a {
  letter-spacing: 0.0625rem;
  font-size: 1.375rem;
  line-height: 1.75rem;
}
main .post > p {
  line-height: 1.5rem;
  text-indent: 2rem;
}
main .post > .info {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0.5rem 0 2rem 0;
}
main .post > .info span {
  font-weight: 400;
  font-size: 0.75rem;
}
main .post > .info a {
  font-size: 0.75rem;
}
main .post > .info .date,
main .post > .info .tag {
  margin: 0 0.5rem;
}
main .post > .info .date i,
main .post > .info .tag i {
  position: relative;
  top: 0.05rem;
}
main .pagenav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 5rem 0;
}
main .pagenav > a {
  text-decoration: none;
  margin: 0 2rem;
}
main .archives, main .category, main tags {
  width: 45rem;
  padding-top: 1rem;
  font-size: 0.875rem;
}
main .archives li, main .category li {
  list-style-type: none;
  padding: 0;
}
main .archives .title, main .category .title {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 2.2rem;
  padding: 0.625rem 0;
}
main .archives .list, main .category .list {
  margin-bottom: 3rem;
}
main .archives .list .post-title, main .category .list .post-title {
  padding-bottom: 0.3rem;
  line-height: 1.75rem;
}
main .archives .list .post-title a, main .category .list .post-title a {
  display: inline-block;
  width: 85%;
}
main .archives .list .post-title .time, main .category .list .post-title .time {
  float: right;
  font-size: 0.875rem;
}
main .tags {
  text-align: center;
  margin: 4rem 0;
}
main .tags ul {
  margin: 0;
  padding: 0;
}
main .tags ul li {
  margin: 0.5rem 1rem;
  display: inline-block;
  font-size: 1rem;
}
main .tags .count {
  display: inline-block;
  position: relative;
  top: -8px;
  right: -2px;
  font-size: 12px;
}

footer {
  padding: 2rem 0;
}
footer .copyright {
  font-size: 0.8rem;
}
footer .copyright a {
  margin: 0 0.125rem;
}

/*animation starts*/
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-3px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-3px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-3px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-3px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/*animation ends*/