@charset "UTF-8";

// 滚动条
html::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

html::-webkit-scrollbar-thumb {
    height: 40px;
    border-radius: 16px;
}

// container 主体
.container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

// Header 头部
.header {
    width: 45rem;
    padding: 7rem 0 3rem 0;
    -webkit-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;

    // 站点标题
    >.title {
        width: 6rem;

        >a {
            font-size: 2.2rem;
            letter-spacing: 0.2rem;
            line-height: 2.4rem;
        }
    }

    // 二级标题
    >.description {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        
        font-size: 0.9rem;

        >.socials {
            display: flex;
            justify-content: flex-end;

            >a {
                font-size: 1rem;
                margin-left: 0.5rem;
                cursor: pointer;
            }
        }
    }

}

// main 主体
main {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    width: 52rem;
    margin-top: 4rem;
    padding-bottom: 3rem;

    // 主体布局
    > .index,
    > .archives,
    > .categories,
    > .category,
    > .links,
    > .post,
    > .tag,
    > .journals
    {
        width: 45rem;
        padding: 1rem 0.1rem 1rem 0.1rem;
    }

    // 首页
    .index {

        // 标题
        >h1 {
            >a {
                letter-spacing: 0.0625rem;
                font-size: 1.375rem;
                line-height: 1.75rem;
            }
        }

        // 摘要
        >p {
            line-height: 1.5rem;
            text-indent: 2rem;
        }

        // 徽标
        >.info {
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            flex-direction: row;
            padding: 0.5rem 0 2rem 0;

            >.date,
            .tag {
                font-weight: 400;
                font-size: 0.75rem;
                margin: 0 0.5rem;

                >i {
                    position: relative;
                    top: 0.1rem;
                }

                >a {
                    font-size: 0.75rem;
                }

            }
        }
    }

    // 归档
    .archives{
        >ul {
            padding: 0.625rem 0.1rem;

            >.year {
                font-size: 1.5rem;
                font-weight: bold;
                line-height: 2.2rem;
                padding: 0.5rem 0;
            }

            >li {
                display: flex;
                justify-content: space-between;
                font-size: 0.875rem;
                padding-bottom: 0.3rem;
                line-height: 1.75rem;
            }
        }
    }

    // 分类目录 标签目录
    .categories,.tags {
        margin: 5rem 0;
        > ul {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            align-content: center;
            flex-wrap: wrap;

            > li {
                margin: 0.5rem 1rem;
                font-size: 1rem;
            }

            .count {
                display: inline-block;
                position: relative;
                top: -0.5rem;
                right: -0.125rem;
                font-size: 0.75rem;
            }
        }
    }

    // 分类 标签
    .category,.tag{
        >ul {
            padding: 0.625rem 0.1rem;

            >.name {
                font-size: 1.5rem;
                font-weight: bold;
                line-height: 2.2rem;
                padding: 0.5rem 0;
            }

            >li {
                display: flex;
                justify-content: space-between;
                font-size: 0.875rem;
                padding-bottom: 0.3rem;
                line-height: 1.75rem;
            }
        }
    }

    // 友链
    .links{
        > ul {
            padding: 0.625rem 0.1rem;

            >.friend {
                font-size: 1.5rem;
                font-weight: bold;
                line-height: 2.2rem;
                padding: 0.5rem 0;
            }

            >li {
                display: flex;
                justify-content: space-between;
                font-size: 1rem;
                padding-bottom: 0.3rem;
                line-height: 1.5rem;
            }
        }
    }

    // 文章
    .post{
        > .title{
            margin-top: 4rem;
            > h1 {
                > a {
                    letter-spacing: 0.0625rem;
                    font-size: 2rem;
                    line-height: 2rem;
                }
            }

            > .info {
                padding-bottom: 1rem;
                margin-bottom: 1rem;
    
                > span{
                    margin: 0 0.25rem;
                    font-weight: 400;
                    font-size: 0.75rem;
                    i {
                        position: relative;
                        top:0.125rem;
                    }
                }
            }
        }

    }

    .journals{
        > .name{
            font-size: 1.5rem;
            font-weight: bold;
            line-height: 2.2rem;
            padding: 0.5rem 0;
        }
        > ul{
            > li{
                padding: 1rem 0.1rem;
                > .content{
                    padding: 0.25rem 0.25rem;
                    font-size: 1rem;
                }
                > .option{
                    display: flex;
                    justify-content: flex-end;
                    font-weight: 400;
                    font-size: 0.75rem;
                    margin: 0 0.5rem;
                    > i{
                        padding: 0 0.5rem;
                    }
                }
                > .info{
                    display: flex;
                    justify-content: flex-end;
                    font-size: 0.75rem;
                }
            }
        }
        
    }

    // 分页
    .pagenav {
        display: flex;
        justify-content: space-between;
        padding: 2rem 0;

        >a {
            text-decoration: none;
            margin: 0 2rem;
        }
    }

}

// 页脚
footer {
    padding: 2rem 0;

    .copyright {
        font-size: 0.8rem;

        a {
            margin: 0 0.125rem;

        }
    }
}

// 评论组件
.comment
{
    width: 47rem;
    margin: 1rem 0rem;
    padding: 1rem 2.5rem;
}

.close{
    display: none;
}

.post-bottom-menu{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    padding-top: 2rem;
    width: 40rem;
}

/*animation starts*/

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-3px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes fadeInDown {
    0% {
        opacity: 0;
        -moz-transform: translateY(-3px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-o-keyframes fadeInDown {
    0% {
        opacity: 0;
        -o-transform: translateY(-3px);
    }

    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-3px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/*animation ends*/

// .menu{
//     position: fixed;
//     right: 0.5rem;
//     bottom: 10rem;
// }

// heti
.heti > img{
    width: 97%!important;
}
