
.post {
    iframe {
        width: 97%;
        margin: 0.5rem 0;
    }


    // =========== 移动端 ===========
    @media (min-width: 320px) and (max-width: 870px) {
        iframe {
            height: 47vh;
        }
    }

    // =========== 桌面端 ===========
    @media (min-width: 870px){
        iframe {
            height: 87vh;
        }
    }
}