// 评论容器
.comment {

    // 320px 设备
    @media (max-width: 320px) {
        width: 90%;
        margin: 5% 0;
    }

    // =========== 768px 设备 ===========
    @media (min-width: 320px) and (max-width: 768px) {
        width: 90%;
        margin: 5% 0;
    }
}

// 评论 首页 按钮
.post-bottom-menu {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #e7e7e7;

    >a {
        color: #262626;

        &:hover {
            color: #595959;
        }


    }

    // 深色
    @include darkmode {
        border-top: 1px solid #e7e7e7;

        >a {

            // 深色
            @include darkmode {
                color: #b6b6b6;

                &:hover {
                    color: #434343;
                }
            }
        }
    }

    // =========== 320px 设备 ===========
    @media (max-width: 320px) {
        margin-top: 7%;
        padding-top: 7%;
        width: 80%;
    }
    // =========== 768px 设备 ===========
    @media (min-width: 320px) and (max-width: 768px) {
        margin-top: 7%;
        padding-top: 5%;
        width: 80%;
    }
}

.close {
    display: none;
}