// 评论组件
.comment {
    width: 52rem;
    margin: 1rem 0rem;
}

.post-bottom-menu {

    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    padding-top: 2rem;
    width: 40rem;

    border-top: 1px solid #e7e7e7;

    @include darkmode {
        border-top: 1px solid #e7e7e7;
    }

    >a {
        color: #262626;

        &:hover {
            color: #595959;
        }

        @include darkmode {
            color: #b6b6b6;

            &:hover {
                color: #434343;
            }
        }
    }
}




