// 评论容器
.comment {

    // =========== 移动端 ===========
    @media (max-width: 870px) {
        width: 99%;
        margin: 5% 0;
    }

    // =========== 桌面端 ===========
    @media (min-width: 870px) and (max-width: 2048px) {
        margin-top: 2rem;
        width: 52rem;
    }
}

// 评论、首页按钮
.post-bottom-menu {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #e7e7e7;

    >a {
        color: #262626;

        &:hover {
            color: #595959;
        }
    }

    // =========== 深色 ===========
    @include darkmode {
        border-top: 1px solid #e7e7e7;
        >a {
            color: #b6b6b6;

            &:hover {
                color: #434343;
            }

        }
    }

    // =========== 移动端 ===========
    @media (max-width: 870px) {
        margin-top: 7%;
        padding-top: 5%;
        width: 80%;
    }

    // =========== 桌面端 ===========
    @media (min-width: 870px) and (max-width: 2048px) {
        margin-top: 2rem;
        padding-top: 2rem;
        width: 40rem;
    }
}

.close {
    display: none;
}