// 页脚
@import "../../base/variables";

footer {
    .copyright {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.8rem;

        a {
            color: #bfbfbf;

            &:hover {
                color: #262626;
            }

        }
    }

    // 深色
    @include darkmode {
        .copyright> {
            >a {
                color: #262626;

                &:hover {
                    color: #bfbfbf;
                }
            }
        }
    }

    // 320px 设备
    @media (max-width: 320px) {
        padding: 5% 0;
    }
    
    // 768px 设备
    @media (min-width: 320px) and (max-width: 768px) {
        padding: 5% 0;
    }

    // 2048px 设备
    @media (min-width: 768px) and (max-width: 2048px) {
        padding: 2rem 0;
    }

    
}