// 页脚
@import "../../base/variables";

footer {
    .copyright {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.8rem;

        a {
            padding: 0.1rem 0.1rem;
            color: #bfbfbf;

            &:hover {
                color: #262626;
            }

        }
    }

    // =========== 深色 ===========
    @include darkmode {
        .copyright{
            >a {
                color: #262626;

                &:hover {
                    color: #bfbfbf;
                }
            }
        }
    }

    // =========== 移动端 ===========
    @media (max-width: 870px) {
        padding: 5% 0;
    }

    // =========== 桌面端 ===========
    @media (min-width: 870px) and (max-width: 2048px) {
        padding: 2rem 0;
    }
}