// 分页
.pagenav {
    display: flex;
    justify-content: space-between;

    >a {
        text-decoration: none;
        margin: 0 2rem;
        color: #262626;

        &:hover {
            color: #595959;
        }
    }

    // =========== 深色 ===========
    @include darkmode {
        >a {
            color: #b6b6b6;

            &:hover {
                color: #434343;
            }
        }
    }

    // =========== 320px 设备 ===========
    @media (max-width: 320px) {
        padding: 5% 0 7% 0;
    }
}