// 分页
.pagenav {
    display: flex;
    justify-content: space-between;

    >a {
        text-decoration: none;
        margin: 0 2rem;
        color: #262626;

        &:hover {
            color: #595959;
        }
    }

    // =========== 深色 ===========
    @include darkmode {
        >a {
            color: #b6b6b6;

            &:hover {
                color: #434343;
            }
        }
    }

    // // =========== 移动端 ===========
    @media (max-width: 870px) {
        padding: 4% 0 5% 0;
    }

    // // =========== 桌面端 ===========
    @media (min-width: 870px) {
        padding: 2rem 0;
    }

}
