@charset "UTF-8";

html {
    font-variant-numeric: tabular-nums;
    -webkit-font-smoothing: antialiased;

    // =========== 移动端 ===========
    @media (max-width: 870px) {
        font-size: 18px;
        font-family: -apple-system, BlinksMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
        'Noto Sans', serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
        font-weight: 500;
    }

    // =========== 桌面端 ===========
    @media (min-width: 870px) and (max-width: 1920px) {
        font-size: 20px;
        font-family: -apple-system, BlinksMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
        'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
        font-weight: 500;
    }

    // =========== 2K端 ===========
    @media (min-width: 1920px) and (max-width: 2560px) {
        font-size: 22px;
        font-family: -apple-system, BlinksMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
        'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
        font-weight: 500;
    }

    // =========== 4K端 ===========
    @media (min-width: 2560px) and (max-width: 2880px) {
        font-size: 24px;
        font-family: -apple-system, BlinksMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
        'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
        font-weight: 500;
    }

    // =========== >4K端 ===========
    @media (min-width: 2880px) {
        font-size: 2vh;
        font-family: -apple-system, BlinksMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
        'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
        font-weight: 500;
    }
}

// 衬线字体
[data-font="serif"] {
    font-family: -apple-system, BlinksMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
        'Noto Sans', serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
    font-weight: 500;
}

// 无衬线字体
[data-font="sans"] {
    font-family: -apple-system, BlinksMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
        'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
    font-weight: 400;
}