@charset "UTF-8";

html {
    font-variant-numeric: tabular-nums;
    -webkit-font-smoothing: antialiased;
    // =========== 320px 设备 ===========
    @media (max-width: 320px) {
        font-size: 14px;
    }

    // =========== 768px 设备 ===========
    @media (min-width: 320px) and (max-width: 768px) {
        font-size: 16px;
    }
}

// 衬线字体
[data-font="serif"]{
    font-family: -apple-system, BlinksMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
        'Noto Sans', serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
    font-weight: 500;
}

// 无衬线字体
[data-font="sans"]{
    font-family: -apple-system, BlinksMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
    font-weight: 400;
}
